html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden !important;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overscroll-behavior-y: none;
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-end: 0;
}

#canvas {
    background-color: #bcceb799;
    z-index: -100;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100%;
    position: fixed;
}

.fullPage {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-x: hidden;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

#center {
    background-color: transparent;
    position: relative;
    margin: auto;
    margin-top: 0;
}

#add-item {
    position: fixed;
    width: 20%;
    right: 12%;
    top: 30%;
    border: 0.125rem solid #fff;
    border-radius: 0.125rem;
    background-color: #fff;
    padding: 0.2rem;
}

.upload {
    width: 99%;
    text-align: center;
    height: 2.5rem;
    border: 0.125rem dashed #d3d3d3;
    border-radius: 0.125rem;
    cursor: pointer;
    padding: .2rem;
}

.uploaded-img {
    padding: 0.1rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

#add-item textarea {
    border: 0.0625rem solid #d3d3d3;
    background-color: transparent;
    resize: none;
    border-radius: 0.125rem !important;
}

.body {
    max-height: calc(100vh - 12vh);
    padding-bottom: 3.0625rem !important;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.body::-webkit-scrollbar {
    display: none;
}

.max-with-scroll {
    max-height: 21.375rem;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.max-with-scroll::-webkit-scrollbar {
    display: none;
}

.glow:focus,
.glow:hover {
    color: #57c56f !important;
    filter: drop-shadow(0 0 0.3rem #57c56f);
    transition: 0.2s ease-out;
}

.bg-green {
    background-color: #57c56f;
    color: #fff !important;
}

.p-0 {
    padding: 0;
}

.mb-5px {
    margin-bottom: 0.31rem !important;
}

.p3 {
    padding: 0.28rem !important;
    color: #57c56f !important;
}

.mx {
    margin: 0.125rem 0;
}

.mt-5px {
    margin-top: 0.27rem;
}

.mr-2 {
    margin-right: 1.4rem;
}

.pr5px {
    padding-right: 0.27rem !important;
}

.min-wid-300 {
    min-width: 18.75rem !important;
    max-width: 18.75rem !important;
    padding: 0.4rem 0.2rem;
    max-height: 20rem;
    overflow-y: auto;
}

.min-wid-300 textarea {
    resize: none;
}

.min-wid-300 textarea:active,
textarea::selection {
    border: 0.125rem dashed #57c56f;
}

.txt-center {
    text-align: center;
}

.cursor {
    cursor: pointer;
}

.baned {
    cursor: not-allowed;
}

.cb {
    color: #000 !important;
}

.cr {
    color: red !important;
}

.fs-20 {
    font-size: 1.25rem;
}

.ver-menu {
    display: block;
    position: fixed;
    top: 25%;
    right: 8%;
    width: 3rem;
    border-radius: 0.1rem;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.ver-menu:focus,
.ver-menu:hover {
    box-shadow: 0 0 0.25rem 0.125rem #57c56f;
}

.ver-list {
    list-style: none;
    width: auto;
    padding: 0;
    margin: 0;
    display: list-item;
}

.ver-li {
    margin: 0.6rem 0.1rem;
}

.ver-link {
    place-content: center;
    display: grid;
    transition: 0.4s ease-in;
    color: #5c5c5c;
}

.ver-link>i {
    font-size: 1.5rem;
}

.ver-link:focus,
.ver-link:hover {
    color: #57c56f;
    filter: drop-shadow(0 0 3rem #57c56f);
    transition: 0.2s ease-out;
}

.cir-perant {
    background-color: #f7f7f7;
    border-radius: 0.27rem;
    cursor: pointer;
    color: #555;
    display: grid;
    place-items: center;
    z-index: 7;
    position: fixed;
    bottom: 25%;
    transition: ease-in 1s;
    animation: show 1s ease forwards;
}

#cir-menu {
    position: relative;
}

.rotate {
    transform: rotate(90deg) scaleX(-1);
}

#cir-icon {
    transition: all 0.2s ease;
    display: none;
    place-content: center;
    margin: 0 0.4rem;
    font-size: 2rem !important;
    position: fixed;
    bottom: .11rem;
    right: 2%;
    z-index: 7;
}

.cir-list {
    list-style: none;
    width: auto;
    padding: 0;
    margin: 0;
    border: 0.125rem solid #c3c4c3;
    border-radius: 0.2rem;
}

@keyframes show {
    0% {
        right: -5%;
    }
    50% {
        right: 0%;
    }
    100% {
        right: 3%;
    }
}

.install-btn {
    color: #57c56f !important;
    border: 0.125rem solid #57c56f !important;
    padding: 0.27rem !important;
    border-radius: 0.27rem !important;
}

@media screen and (min-width: 118.8125rem) {
    #center {
        width: 45vw;
    }
    #ver-menu {
        display: block !important;
    }
    .cir-perant {
        display: none !important;
    }
}

@media screen and (max-width: 118.75rem) {
    #center {
        width: 35vw;
    }
    #ver-menu {
        display: block !important;
    }
    .cir-perant {
        display: none !important;
    }
}

@media screen and (max-width: 101.4375rem) {
    #center {
        width: 40vw;
    }
    #ver-menu {
        display: block !important;
    }
    .cir-perant {
        display: none !important;
    }
}

@media screen and (max-width: 82.6875rem) {
    #center {
        width: 50vw;
    }
    #ver-menu {
        display: block !important;
    }
    .cir-perant {
        display: none !important;
    }
}

@media screen and (max-width: 63.9375rem) {
    #center {
        width: 60vw;
    }
    #ver-menu {
        display: block !important;
    }
    .cir-perant {
        display: none !important;
    }
}

@media screen and (max-width: 45rem) {
    #center {
        width: 65vw;
    }
    #ver-menu {
        display: none !important;
    }
    .cir-perant {
        display: block !important;
    }
    #cir-icon {
        display: grid;
    }
}

@media screen and (max-width: 32.5rem) {
    #center {
        width: 95vw;
    }
    #ver-menu {
        display: none !important;
    }
    .cir-perant {
        display: block !important;
    }
}

@media screen and (max-width: 21.875rem) {
    .min-wid-300 {
        min-width: 15.625rem !important;
        max-width: 15.9375rem !important;
    }
}

.hidden {
    transition: all 2s ease-out !important;
    display: none !important;
}

.centar {
    display: grid;
    place-items: center;
}

.padbor {
    border: 0.125rem solid #555;
    border-radius: 0.27rem;
    padding: 0.55rem !important;
}

.danger {
    color: red !important;
}

.vertical-divider {
    width: 0.0625rem;
    height: 1.8rem;
    border-right: 0.0625rem solid #e5e5e5;
    padding-top: 1.25rem;
}

.item-img-upload {
    height: 7vh;
    width: 7vw;
    padding: 0.2rem;
    border: 0.125rem solid #888;
    border-radius: 0.27rem;
}

.icon-1 {
    font-size: 1rem !important;
}

.icon-15 {
    font-size: 1.5rem !important;
}

.icon-2 {
    font-size: 2rem !important;
    padding: 0.5rem;
}

.icon-25 {
    font-size: 2.5rem !important;
}

.icon-sm {
    font-size: 0.8rem;
}

.sbtn {
    margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    -webkit-appearance: none;
    border-radius: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    font-size: 0.875rem;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.1s ease-in-out;
    transition-property: color, background-color, border-color;
}

.sbtn-txt {
    padding: 0;
    line-height: 1.5;
    background: 0 0;
    color: #333;
    position: relative;
}

.sbtn-txt::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 100%;
    border-bottom: 1px solid #333;
    transition: left 0.3s ease-out;
}

.sbtn-txt:focus,
.sbtn-txt:hover {
    color: #333;
}

.sbtn-txt:focus::before,
.sbtn-txt:hover::before {
    left: 0;
}

.sbtn-txt:disabled {
    color: #999;
}

.sbtn-txt:disabled::before {
    display: none;
}

.animation-fade {
    animation: fade 0.2s forwards;
}

@keyframes fade {
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

.red-alert {
    position: fixed;
    color: red;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;
}

.notification {
    position: fixed;
    z-index: 6;
    left: 1.8rem;
    background: #f5fdf6de;
    border-radius: 0.25rem;
    width: 16rem;
    padding: 0.5rem;
}

.top {
    top: 1rem;
}

.bottom {
    bottom: 3rem;
}

.noti {
    padding: 0.2rem;
}

.noti-header>span {
    font-size: 1.3rem;
}

.noti-hg {
    color: #57c56f;
}

.noti-hr {
    color: #f8a5a5;
}

.noti-hb {
    color: #708bff;
}

.noti-bog {
    border-color: #57c56f;
}

.noti-bor {
    border-color: #f8a5a5;
}

.noti-bob {
    border-color: #708bff;
}

.noti-close {
    position: fixed;
    left: 10px;
    cursor: pointer;
}

.border-bottom {
    border-bottom: 1px solid #999;
}

.w-95 {
    width: 95%;
}

.search-list {
    list-style: arabic-indic;
    padding: 0.4rem;
    margin: 0.2rem;
    line-height: 1.8;
}

.search-underline {
    border-bottom: 2px solid #d3d3d3;
    padding-bottom: 0.4rem;
}

.search-divider {
    width: 100%;
    height: 2px;
    background-color: #5c5b5b;
}

.br-success {
    border: 2px solid #90ee90 !important;
}

.mspinner {
    position: absolute;
    top: 50%;
    right: 40%;
    transform: translate(0, -50%);
    opacity: .5;
    color: green;
}

.smodal {
    display: grid;
    place-items: center;
    place-content: center;
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5rem 0;
    font-size: 1rem;
    background-color: #7e9571c9;
    border: 0.0625rem solid #d3d5d1ed;
    border-radius: 0.25rem;
    z-index: 5;
}

.min-wh {
    min-height: 22rem !important;
    min-width: 20% !important;
}

.close-gallery {
    font-size: 2rem;
    position: fixed;
    top: 5%;
    border: 2px solid #aaa;
    border-radius: 50px;
}