* {
    transition: 80ms !important;
}

.fullPage {
    color: #fff !important;
}

#canvas {
    background: #011e29 !important;
    opacity: 1 !important;
}

.text-muted {
    color: #fff !important;
}

.card {
    /* background-color: #254330 !important;
    color: #fff !important; */
    background-color: #011e29 !important;
    color: #fff !important;
    box-shadow: 0px 0px 6px 6px #2c4f38 inset !important;
    padding: .5rem !important;
    border-radius: 10px !important;
}

.text-muted {
    color: #fff !important;
}

.form-control-light {
    background-color: #457b58 !important;
    border-radius: 5px;
}

.form-control {
    background-color: #457b58 !important;
    border-radius: 5px;
}

.form-group {
    color: #fff !important;
}

input,
textarea {
    color: #eee !important;
}

.upload {
    background-color: #457b58 !important;
    border-radius: 5px !important;
}

.bg-light {
    background-color: #2c4f38 !important;
}

.glow:focus,
.glow:hover {
    filter: drop-shadow(2px 2px 2px #caca92) !important;
    color: #fff !important;
}

.ver-menu {
    /* background-color: #2c4f38 !important; */
    background-color: #011e29 !important;
    box-shadow: 0px 0px 6px 6px #264835 inset !important;
}

.ver-menu:focus,
.ver-menu:hover {
    -webkit-box-shadow: 0 0 0.25rem 0.125rem #d6d606 !important;
    box-shadow: 0 0 0.25rem 0.125rem #d6d606 !important;
}

.ver-link {
    color: #fff !important;
}

.ver-link:hover {
    filter: drop-shadow(1px 1px 1px #d6d6067b) !important;
}

.cir-perant {
    /* background: #2c4f38 !important;
    border-radius: 10px !important; */
    background: #011e29 !important;
    border-radius: 10px !important;
    box-shadow: 0px 0px 4px 4px #2c4f38 inset !important;
}

.cir-list {
    /* border: 2px solid #d6d60696 !important; */
    border: none !important;
    border-radius: 10px !important;
}

.green_underline {
    border-bottom: 2px solid #d6d606 !important;
}

.smodal {
    background-color: #3a3b3ad9 !important;
}

.itemCard {
    background-color: #2c4f38 !important;
    color: #fff !important;
    border-radius: 10px !important;
}

.btn-outline-success {
    color: #fff !important;
    border: 1px solid #fff;
}

.btn-outline-success:hover,
.btn-outline-success:focus {
    color: #d6d606 !important;
    border-color: #d6d606 !important;
    background: transparent !important;
}

.btn-outline-dark {
    color: rgb(138, 138, 138) !important;
    border: 1px solid #ffffff !important;
}

.btn-outline-dark:hover {
    color: #d5d5d5 !important;
}

.bi {
    color: #d6d606 !important;
}

.dropdown-menu {
    background: #011e29 !important;
    border: .0625rem solid #696969ed !important;
    color: #fff !important;
    border-radius: 10px !important;
}

.dropdown-item {
    color: #fff !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #2c4f38 !important;
}

.list-group-item {
    color: #d6d606 !important;
    background-color: #2c4f38 !important;
}

::placeholder {
    color: #ffffffc2 !important
}

.link-dark {
    color: #fff !important;
}

.alert-light {
    color: #fff !important;
    background-color: #2c4f38 !important;
    border-color: #adb5bd !important;
}

.cb,
.cr {
    color: #d6d606 !important;
}

.modal-content {
    /* background-color: #5d9068 !important; */
    background-color: #1f4033 !important;
}

.alert-success {
    /* background-color: #5d9068 !important; */
    background-color: #39583f !important;
    color: #fff !important;
}

a {
    color: #fff !important;
}

.notification {
    background-color: #396749 !important;
    color: #fff !important;
    border-color: #d6d606 !important;
}

.spinner-border {
    color: #d6d606 !important;
}

.sbtn {
    color: #d6d606 !important;
}

.dark {
    color: #555 !important;
}

.light {
    color: #fff !important
}

.navbar {
    border-radius: 5px !important;
}

.dark-border {
    border: 2px solid #666 !important;
    padding: .5rem !important;
    border-radius: 10px !important;
}

.install-btn {
    color: #fff!important;
    padding: .27rem!important;
    border-radius: .27rem!important;
    background: #011e29b5 !important;
}

.br-success {
    border: 2px solid #90ee90!important;
    border-radius: 10px !important;
}

.lead {
    color: #fff !important;
}

.danger {
    color: #d6d606 !important;
}

.rate,
.email {
    color: #eee !important;
    font-weight: 200;
}

.new {
    border: 2px solid #dcd643;
    border-radius: .4rem;
    padding: .4rem !important;
}

#item_type {
    color: #ccc
}