@font-face {
    font-family: "Cairo";
    src: url("../font/cairo.woff2") format("woff2");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

body {
    font-family: 'Cairo' !important;
    box-shadow: inset 1px 0px 20px 8px #eaee0f48;
    padding: 1rem 2rem;
    min-height: 98vh;
}

#welcome-canvas {
    background-color: #303030;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100%;
    position: fixed;
    z-index: -1;
}

.fullPage {
    display: grid;
    place-content: center;
    place-items: center;
    overflow: auto;
    text-align: center;
}

#center {
    background-color: transparent;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 30%;
    /* min-height: 100vh; */
    text-align: center;
    margin: 4rem 0rem;
}

#slogan {
    font-size: 20px;
    color: #81CB80;
    text-align: center;
}

#slogan-header {
    font-size: 50px;
    font-weight: 300;
    color: #81CB80;
    text-align: center;
    margin-top: 0;
}

#logo path:nth-child(1) {
    stroke-dasharray: 578.444091796875;
    stroke-dashoffset: 578.444091796875;
    animation: logo-anim 2s ease forwards;
}

#logo path:nth-child(2) {
    stroke-dasharray: 578.444091796875;
    stroke-dashoffset: 578.444091796875;
    animation: logo-anim 2s ease forwards;
}

#logo path:nth-child(3) {
    stroke-dasharray: 254.28018188476562;
    stroke-dashoffset: 254.28018188476562;
    animation: logo-anim 2.5s ease forwards;
}

#text-logo path:nth-child(1) {
    stroke-dasharray: 1849.05847;
    stroke-dashoffset: 1849.05847;
    animation: logo-anim 8s ease forwards 1s;
}

.mt20 {
    margin-top: 20px;
}

.row {
    /* display: inline-flex; */
    margin-top: 5px;
    animation: opfill 12s ease-in-out;
}

.link {
    color: #81CB80;
    text-decoration: none;
    font-size: 1.5rem;
    border: 2px solid #81CB80;
    padding: .5rem 1.5rem;
    transition: .3s ease;
}

.link:hover,
.link:focus {
    background-color: #81cb80;
    color: black;
}

@keyframes logo-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes opfill {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 2.5;
    }
    50% {
        opacity: 5;
    }
    75% {
        opacity: 7.5;
    }
    100% {
        opacity: 1;
    }
}

.link-text {
    padding: 0;
    line-height: 1.5;
    background: 0 0;
    color: #81CB80;
    position: relative;
    text-decoration: none;
    font-size: 2rem;
    padding: 0 .8rem;
}

.link-text::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 100%;
    border-bottom: 1px solid #81CB80;
    transition: left .3s ease-out
}

.link-text:focus,
.link-text:hover {
    color: #81CB80
}

.link-text:focus::before,
.link-text:hover::before {
    left: 0
}

.link-text:disabled {
    color: #999
}

.link-text:disabled::before {
    display: none
}

.top {
    font-size: 1.5rem;
    padding: 0;
    line-height: 1.5;
    background: 0 0;
    color: #81CB80;
    position: absolute;
    text-decoration: none;
    padding: 0 .8rem;
}

.taste {
    padding: 1rem 2rem;
    min-width: 50vw;
    color: #ffffff;
    text-align: right;
}

.card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(90, 90, 90);
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 2px;
    /* box-shadow: 0 0.5rem 1rem rgba(201, 201, 201, 0.15) !important; */
}

.card>hr {
    margin-left: 0;
    margin-right: 0;
}

.card-body {
    flex: 1 1 auto;
    padding: 0.4rem 0.2rem;
}

.card-title {
    margin-bottom: -.5rem;
}

.card-subtitle {
    /* margin-top: -1rem; */
    margin-bottom: 0;
    color: rgb(192, 191, 191);
    font-size: 10px;
}

.card-footer {
    padding: 0 0.5rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.mb-2 {
    margin-bottom: .2rem;
}